<h5 class="white-text"><strong>Order a Burger of the Day!</strong></h5>
  <form action="/create" method="POST" class="button-size">
    <select class="browser-default" name="burgerInput">
      <option value="" disabled selected>Choose a burger</option>

      {{#each itm}}
        {{#if entree}}
          <option value="{{this.item}}">{{this.item}}</option>
        {{/if}}
      {{/each}}

    </select>
    <br>
    <button type="submit" class="waves-effect waves-light btn yellow lighten-3 z-depth-4">SUBMIT</button>
  </form>

