<nav>
  <div class="nav-wrapper grey">
    <a href="/" class="brand-logo center"><img src="public/assets/img/bobsburgers.logo.png" height="150px"></a>
    <ul id="nav-mobile" class="left">
      <li><a href="/"><i class="material-icons">home</i></a></li>
      
    </ul>
  </div>
</nav>